@page
@model BizQuickTime.Web.Pages.Projects.CreateModel

@{
    ViewData["Title"] = "Create Project";
    
    ViewData["ActivePage"] = BizQuickTime.Web.Pages.Shared.ManageNavPages.Projects;

}

    

    <div class="box box-primary">
        <div class="box-header">
            <div class="row box-body">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Project.ProjectId" class="control-label"></label>
                            <input asp-for="Project.ProjectId" class="form-control" />
                            <span asp-validation-for="Project.ProjectId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.Name" class="control-label"></label>
                            <input asp-for="Project.Name" class="form-control" />
                            <span asp-validation-for="Project.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.Currency" class="control-label"></label>
                            <input asp-for="Project.Currency" class="form-control" />
                            <span asp-validation-for="Project.Currency" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.InvoicingCompanyId" class="control-label"></label>
                            <input asp-for="Project.InvoicingCompanyId" class="form-control" />
                            <span asp-validation-for="Project.InvoicingCompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Project.CompanyId" class="control-label"></label>
                            <input asp-for="Project.CompanyId" class="form-control" />
                            <span asp-validation-for="Project.CompanyId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="Index">Back to List</a>
            </div>
        </div>
        </div>
            @section Scripts {
                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }
